.navbar.bg-dark {
    background-color: #304727 !important;
    border-color: #1b3312 !important;
}
.btn-primary {
    background-color: #304727 !important;
    border-color: #1b3312 !important;
}
.btn-danger {
    background-color: #F95738 !important;
    border-color: #cc462e !important;
}
.bi {
    color: #FFCC00;
}
.bi-list, .bi-three-dots-vertical {
    color: black;
}

/* test fix weird big radius on IpadOS 15.4.1 */
.card-img-top {
    border-radius: 0 !important;
}

.div-description-with-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.div-description-with-image > span {
    flex-basis: 50%;
}
.div-description-with-image img {
    align-self: center;
    margin-bottom: 1.5em;
    margin-right: 1.5em;;
    max-width: 100%;
}
@media (min-width: 600px) {
    .div-description-with-image {
        flex-direction: row;
    }
    .div-description-with-image img {
        margin-bottom: 1.5em;
    }
}

.div-cover {
    max-width: 400px;
    margin: 2em auto;
}

.qrcode-container {
    position: absolute;
    width: 70px;
}

.qrcode-img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.qrcode-btn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(33%, -135%);
    -ms-transform: translate(33%, -135%);
}

.qrcode-container:hover .qrcode-img {
    opacity: 0.3;
}
.qrcode-container:hover .qrcode-btn {
    opacity: 1;
}

.description-extract {
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 5rem;
}

.required:after {
    content:" *";
    color: red;
}

.step-custom-text img {
    max-width: 100%;
    height: auto !important;
}

/* Rich text */
div.has-rich-text {
    padding-bottom: 42px;
}

#statisticsRegisteredUsers {
    table-layout: fixed;
 }