<template>
    <td style="width:210px">
        <img style="width: 100%; object-fit: cover;" :src="coverPath" height=110 />
    </td>
    <td>
        {{ step['name'] }}
    </td>
    <td style="width:100px">
        {{ step['code'] }}
        <div class="qrcode-container">
            <img :src="qrcodePath" class="img-fluid qrcode-img" />
            <div class="qrcode-btn">
                <a class="btn btn-primary" :href="routeDownload" target="_blank"><i class="bi bi-printer-fill"></i></a>
            </div>
        </div>
    </td>
    <td>
        <p class="m-0">{{ itineraryLength }} caractères</p>
        <a :href="routePreviewItinerary">Aperçu</a>
    </td>
    <td>
        <p class="m-0">{{ siteLength }} caractères</p>
        <a :href="routePreviewSite">Aperçu</a>
    </td>
    <td>
        <a :href="routeEdit" class="btn btn-secondary btn-sm me-2">Modifier</a>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" :data-bs-target="'#' + modalId">Supprimer</button>
        <!-- Modal step deletion -->
        <div class="modal fade" :id="modalId" tabindex="-1" aria-labelledby="deleteStepModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteStepModalLabel">Voulez-vous vraiment supprimer cette étape ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    Cette action est définitive.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form :action="routeDestroy" method="POST">
                        <input type="hidden" name="_token" :value="csrf">
                        <input type="hidden" name="_method" value="delete">
                        <button class="btn btn-danger">Supprimer cette étape</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </td>
</template>

<script>
export default {
    props: {
        step: Object
    },
    computed: {
        coverPath() {
            if (this.step['cover'] !== null) {
                return '/storage/' + this.step['cover']
            }
            return '/img/placeholder.jpeg'
        },
        qrcodePath() {
            return '/storage/qrcodes/step_' + this.step['id'] + '.png'
        },
        routeDownload() {
            return '/step/' + this.step['id'] + '/download' 
        },
        routePreviewItinerary() {
            return '/step/' + this.step['id'] + '/preview-itinerary'
        },
        routePreviewSite() {
            return '/step/' + this.step['id'] + '/preview-site'
        },
        routeEdit() {
            return '/step/' + this.step['id'] + '/edit'
        },
        routeDestroy() {
            return '/step/' + this.step['id']
        },
        itineraryLength() {
            return this.step['itinerary'].length
        },
        siteLength() {
            return this.step['on_site'].length
        },
        modalId() {
            return 'deleteStepModal-' + this.step['id']
        },
        csrf() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    }
};
</script>