<template>
    <table class="table mt-5">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Code</th>
                <th scope="col">Itinéraire</th>
                <th scope="col">Sur place</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <draggable v-model="steps" tag="tbody" item-key="id" @end="saveOrder" handle=".handle" >
            <template #item="{ element }">
                <tr>
                    <td><i class="bi bi-list handle"></i></td>
                    <step-row :step="element" />
                 </tr>
            </template>
        </draggable>
    </table>
</template>

<script>
import draggable from "vuedraggable";
export default {
    props: {
        pathId: {
            type: Number,
            required: true
        },
        initSteps: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            steps: this.initSteps
        }
    },
    components: {
        draggable
    },
    methods: {
        saveOrder() {
            const stepsOrder = this.steps.map(step => step.id)
            axios.put(`/path/${this.pathId}/steps-order`, { 'steps_order': stepsOrder })
        },
    }
};
</script>
