<template>
    <div class="col col-lg-4">
        <img
            :src="src"
            style="border-radius: 1.5rem; width: 100%"
            :class="className"
        >
    </div>
</template>

<script>
export default{
    props: {
        src: {
            type: String,
            required: true
        },
        status: {
            type: String,
            required: true
        }
    },
    computed: {
        className() {
            const base = 'base'

            switch(this.status) {
                case 'selected':
                    return `${base} active`
                case 'error':
                    return `${base} error`
                case 'success':
                    return `${base} success`
                default:
                    return `${base} default`
            }
        }
    }
}
</script>

<style scoped>
    .base {
        border-style: solid;
        border-width: 5px;
    }

    .active {
        border-color: lightskyblue;
    }

    .default {
        border-color: #f0f0f0;
    }

    .error {
        border-color: #f0f0f0;
        animation-name: pulsar;
        animation-duration: 2s;
    }
    
    @keyframes pulsar {
      from {
        border-color: indianred;
      }
      to {
        border-color: #f0f0f0;
      }
    }

    .success {
        border-color: limegreen;
        opacity: 0.4;
        filter: grayscale(1);
    }
</style>
