<template>
    <div 
        :class="className"
        style="border-radius: 1.5rem;">
        <img v-if="status == 'success'" :src="img" style="border-radius: 1.1rem; width: 100%">
        <p :class="classYear" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">{{ year }}</p>
    </div>
</template>

<script>
export default{
    props: {
        year: {
            type: String,
            required: true
        },
        status: {
            type: String,
            required: true
        },
        img: {
            type: String,
            required: true
        }
    },
    computed: {
        classYear() {
            if (this.status == 'success') {
              return 'fs-3 d-inline-block position-absolute bg-light bg-opacity-75'
            }
            return 'fs-3 position-absolute'
        },
        className() {
            const base = 'col col-lg-4 bg-light d-flex align-items-center justify-content-center base p-0 position-relative'

            switch(this.status) {
                case 'selected':
                    return `${base} active`
                case 'error':
                    return `${base} error`
                case 'success':
                    return `${base} success`
                default:
                    return `${base} default`
            }
        }
    }
}
</script>

<style scoped>
    .base {
        border-style: solid;
        border-width: 5px;
    }

    .active {
        border-color: lightskyblue;
    }

    .default {
        border-color: #f0f0f0;
    }

    .error {
        border-color: #f0f0f0;
        animation-name: pulsar;
        animation-duration: 2s;
    }
    
    @keyframes pulsar {
      from {
        border-color: indianred;
      }
      to {
        border-color: #f0f0f0;
      }
    }

    .success {
        border-color: limegreen;
    }
</style>
