<template>

    <div class="container position-relative">
        <div style="height:25px"></div>

        <div class="row justify-content-evenly mb-5" v-for="(year, index) in years" :key="index">
            <tile-cover
                :src="stepCover(steps[index])"
                :status="coversStatuses[index]"
                @click="selectCover(index)"/>
            <tile-year
                :year="years[index]"
                :status="yearsStatuses[index]"
                :img="getCover(years[index])"
                @click="selectYear(index)"/>
        </div>

        <div class="row justify-content-evenly">
            <div class="col col-lg-4"></div>
            <div class="col col-lg-4 bg-light d-flex justify-content-center">
                <div class="bg-secondary d-inline-block position-absolute" style="width:2rem; height: calc(100% + 50px); top: 0; z-index: -1"></div>
            </div>
        </div>
    </div>

</template>

<script>
/*
 * default
 * selected
 * error
 * success
*/
import TileCover from './TileCover.vue'
import TileYear from './TileYear.vue'

export default {
    props: {
        pathId: {
            type: Number,
            required: true
        },
        timeline: {
            type: Object,
            required: true
        },
        stepsRaw: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            selectedCover: null,
            selectedYear: null,
            yearsStatuses: this.stepsRaw.map( () => {
                return 'default'
            }),
            coversStatuses: this.stepsRaw.map( () => {
                return 'default'
            })
        }
    },
    computed: {
        years() {
            return Object.values(this.timeline.years).sort()
        },
        steps() {
            return Object.keys(this.timeline.years).sort(() => Math.random() - 0.5);
        }
    },
    methods: {
        getCover(year) {
            const stepId = Object.keys(this.timeline.years).find(key => this.timeline.years[key] === year)
            return this.stepCover(stepId)
        },
        stepCover(stepId) {
            const step = this.stepsRaw.find((step) => {
                return step.id == stepId
            })
            return `/storage/${step.cover}`
        },
        selectCover(index) {
            if (this.coversStatuses[index] == 'success') {
                return
            }

            if (this.selectedCover != null) {
                this.coversStatuses[this.selectedCover] = 'default'
            }

            this.coversStatuses[index] = 'selected'
            this.selectedCover = index
            this.checkMatch()
        },
        selectYear(index) {
            if (this.yearsStatuses[index] == 'success') {
                return
            }

            if (this.selectedYear != null) {
                this.yearsStatuses[this.selectedYear] = 'default'
            }

            this.yearsStatuses[index] = 'selected'
            this.selectedYear = index
            this.checkMatch()
        },
        isActiveStep(stepId) {
            return stepId == this.selectedCover
        },
        isActiveYear(year) {
            return year == this.selectedYear
        },
        checkMatch() {
            if (this.selectedCover !== null && this.selectedYear !== null) {
                const year = this.years[this.selectedYear]
                const stepId = this.steps[this.selectedCover]
                const match = this.timeline.years[stepId] == year
                const status = match ? 'success' : 'error'
                this.yearsStatuses[this.selectedYear] = status
                this.coversStatuses[this.selectedCover] = status
                this.selectedCover = null
                this.selectedYear = null
            }

            if (this.yearsStatuses.filter(status => status != 'success').length == 0) {
                axios.post(`/path/${this.pathId}/complete-timeline`, {})
                  .then((success) => {
                    location.reload(true);
                  })
            }
        }
    },
    components: {
        TileCover,
        TileYear
    }
};
</script>
